* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  position: absolute;
}

body, html {
  height: 100%;
  font-family: Quicksand;
}

nav.navbar {
  background: none;
  border: none;
}

.navbar-default .navbar-nav>li {
  text-align: center;
  font-size: 5vh;
  background: radial-gradient(#C8D5DE,transparent);
  border-radius: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

nav.shrink .navbar-nav>li>a {
  font-size: 2vh;
  margin-top: -1vh;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.shrink .navbar-nav>li {
  vertical-align: top;
  height: 6vh;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: scroll;
  box-shadow: 0px 0px 20px black;

}

.first {
  background-image: url('../images/dunes.jpg');
  position: relative;
  text-align: center;

}

#about {
  background-image: url('../images/amboseli.jpg');
}

#projects {
  background-image: url('../images/valley.jpg');
  height: 165%;

}

#extra {
  background-image: url('../images/amboseli.jpg');
}

#contact {
  background-image: url('../images/kili.jpg');
}

h1, .tagline {
  position: absolute;
  width: 100%;
  color: white;
  font-family: Quicksand;
}

h1 {
  margin-top: 35vh;
  font-size: 10vw;
}

.navbar-nav li {
  background: radial-gradient(#red,transparent);
}

h2 {
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 8vh;
  font-size: 6vw;
}

.tagline {
  margin-top : 65vh;
  font-size: 2vw;
}

.tagline span {
  /*margin-left: 3vw;*/
}

.glyphicon {
  position: absolute;
  font-size: 20vh;
  margin-left: -10vh;
  top: 80vh;
  color: white;
}
